<section class="contact_container">
  <link rel="stylesheet" href="../styles/contactComp.css" />
  <div class="contact_title">
    <h1>Reach Out</h1>
    <p>
      We're here to help! Reach out to us with any questions, feedback, or
      inquiries. We look forward to hearing from you.
    </p>
  </div>
  <div class="contact_section">
    <div class="contact_form_container">
      <form
        action="https://formspree.io/f/xjvqyqzj"
        method="POST"
        class="contact_form"
      >
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="contact_info">
      <div class="left_section">
        <div class="contact_info_item">
          <i class="bi bi-geo-alt-fill"></i>
          <p>Algiers, Algeria</p>
        </div>
        <div class="contact_info_item">
          <i class="bi bi-whatsapp"></i>
          <p>+213 542 09 18 97</p>
        </div>
        <div class="contact_info_item">
          <i class="bi bi-envelope-fill"></i>
          <p>contact@mavidia.com</p>
        </div>

        <div class="contact_info_item">
          <i class="bi bi-instagram"></i>
          <p>@mavidia.tech</p>
        </div>

        <div class="contact_info_item">
          <i class="bi bi-facebook"></i>
          <p>/mavidia.tech</p>
        </div>
      </div>
      <div class="right_section">
        <img src="../assets/logo.svg" alt="" />
        <h1>Mavidia <span>technologies</span></h1>
      </div>
    </div>
  </div>
</section>
