<link rel="stylesheet" href="../styles/servicesComp.css" />
<section class="services_container">
  <div class="services_title">
    <h1>Our Services</h1>
    <p>
      We provide complete business strategies tailored to help organizations
      grow and thrive, while also offering personalized services designed to
      meet the unique needs of individuals.
    </p>
  </div>
  <div class="services_cards">
    <div class="services_card">
      <div class="services_card_img">
        <img src="../assets/devweb.jpg" alt="Web & Mobile Development" />
      </div>
      <h1>Web & Mobile Development</h1>
      <p>
        From tailored CRM & ERP systems to e-commerce stores, showcase websites,
        and mobile apps (iOS & Android) — we create scalable, secure, and modern
        solutions to digitalize your business.
      </p>
    </div>

    <div class="services_card">
      <div class="services_card_img">
        <img src="../assets/digitalMarketing.webp" alt="Digital Marketing" />
      </div>
      <h1>Digital Marketing</h1>
      <p>
        Boost your visibility with SEO, Google Ads, social media campaigns,
        email automation, and online advertising strategies that attract
        qualified leads and drive growth.
      </p>
    </div>

    <div class="services_card">
      <div class="services_card_img">
        <img src="../assets/graphicdes.jpg" alt="Graphic Design" />
      </div>
      <h1>Graphic Design</h1>
      <p>
        Build a powerful visual identity with logos, branding, print designs,
        social media visuals, and intuitive UI/UX — crafted to leave a lasting
        impression on your audience.
      </p>
    </div>

    <div class="services_card offer">
      <div class="services_card_img">
        <img src="../assets/premium.png" alt="Showcase Site" />
      </div>
      <h1>Showcase Website</h1>
      <p>
        Professional website to present your business and services — elegant,
        responsive, and SEO-ready. Starting from <strong>15,000 DA</strong>.
      </p>
    </div>
  </div>
</section>
